.registed_kid {
background: bisque;
display: inline-flex;
flex-wrap: wrap;
 justify-content: space-evenly;/* place of the content*/
align-content:space-evenly;


}



.registration_header {
  background: rgb(156, 105, 42);
  width:100%;
  display:flex;
  flex-wrap: wrap;
   justify-content:flex-start ;/* place of the content*/
   flex-shrink: 0;
   
}
.registration_header h1{
margin: 1%;
  
}

.kid {
  
  background:burlywood;
  flex-shrink: 0;
  padding: 5px;
  margin: 5px;

}


