

*{
  box-sizing: border-box;
margin: 0%;
padding: 1%;
text-decoration: none;
color: black;
}


.kisds_table .container label img{
position: absolute;
width:10%;
height:15%;
right:0%;
left:90%;
bottom: 2%;
flex-shrink: 0;
}

#checked{
display: none;
}


.kid.appear {
  display: none;

}
#checked:checked ~ .kid.appear{

display:flex;

}


.kisds_table{

position: relative;
width:50vw;
align-items:center;

}

.heading {
background-color: aqua;
display:flex;
justify-content:left;
align-items:center;
padding-left: 2vw;
border-radius: 4%;
}


.container{
background-color: antiquewhite;
display: inline-flex;
flex-wrap: wrap;
justify-content: center;
padding:1vw ;
flex-shrink: 1;
position: relative;

}


.kid {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: rgb(183, 151, 109);
  justify-content:flex-start;
  border-radius: 10%;
  background-clip:content-box;
  
 
}



.kid  h3 {
  padding :3vw 0vw;
text-align: center;  

}
.container  img {
width:8vw;
float:left;
background-color: antiquewhite;
background-clip: content-box;

border-radius: 50%;
padding :1vw 1vw;

}




/************************************************/




.tutors_table{
width:fit-content;
justify-content: space-around;


}


.tutor_card{
background-color: azure;
background-clip: content-box;
display:flex;
flex-shrink: 1;
border-radius: 2vw;
width:fit-content;
justify-content: space-between;


}
.tutor_info{
  display:flex;
  flex-direction: column;
  padding :2vw 2vw;
}

.tutor img{
  
float:left;
padding :2vw 2vw;

}

.tutor_courses {
display: flex;
flex-direction: column;
width: 100%;
padding:2vw;
background-color: rgb(234, 231, 220);
background-clip: content-box;
height: fit-content;


}
.tutor_courses h4{
background-color: rgb(168, 148, 123);
width:100%;
border-bottom:  0.3vw black solid;
text-align: center;

}

.list{
list-style-position: inside;
list-style:none;
text-align:center;
padding:1vw;
font-weight:2vw;
text-indent: 3.4vw;
}


.list li{
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: 35% 100%,cover;
  
}
li.java{
  background-image: url(images/coding-language-java.jpg);

}

li.python{
  background-image: url(images/python.png);  

}
li.robotics{
  background-image: url(images/technology-wallpaper1.jpg);  

}
li.c{

  background-image: url(images/C++.png);

}

li.AI{
background-image: url(images/AI\ course\ image.jpg);  


}

/***************************************/
.courses_table{
  width:fit-content;
  justify-content: space-between;
  
  
  }



.courses_card{
  background-color: rgb(219, 199, 173);
display:flex;
flex-direction: column;
flex-shrink: 1;
width:fit-content;
border-radius: 2%;
margin: 1%;
}



.name{  
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 2%;
border-bottom: solid black 0.2vw;

}


.courses_card img{
padding: 0%;
width:20vw;
border: white 0.5vw solid;
border-radius: 2vw;
align-self:center;
margin-bottom: 2%;

}

.student h4{
background-color: aliceblue;
background-size: contain;
align-items: center;
padding: 2%;
}


.student{
background-color: beige;
width: 18vw;
align-self: center;
padding:0%;


}

.student .list li{
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: 10% 100%,cover;
  text-indent: 4vw;
  text-align: left;
  padding:1% ;
  
  

}

.list .girl{
background-image: url(images/daughter.png);


}

.list .boy{
background-image: url(images/son.png);

}
.link {
color: black;
font-weight: bolder;
text-decoration: underline;
text-align: center;
}


a.link:hover{
  color: blue;
}


.courses_table .container label  img{
  position: absolute;
      width:5;
  height:5vw;
  right:0%;
  left:85%;
 bottom: 3%;
  flex-shrink: 0;
  }
  
  #ch{
  display: none;
  }
  
  
  .courses_card.appear {
      display: none;
  
  }
  #ch:checked ~ .courses_card.appear{
  
  display:flex;
  
  }
  