@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*to make child */
    font-family: 'Poppins', sans-serif; /*The font chosen for the whole page*/
    text-decoration: none; /*lines under links disappear*/
}

body{
    background-color: rgb(255, 239, 194); /*the background color of the page*/
}

header{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  padding: 10px 100px;
  background-color: #f2f2f2;
  width: 100%;
  position: fixed;
  color: rgb(43, 43, 43);

}

.navbar ul {
  font-weight: 900;
  font-size: 1.3em;
  list-style: none;
  padding-left: 300px;
  display: flex;
  /* justify-content: space-between; Align the navbar links to the right */
}

.navbar a:hover{
  color: rgb(255, 182, 72);
}

.navbar a{
  color: rgb(43, 43, 43);
  padding-left: 50px;
}

.registed_kid {
background: bisque;
display: inline-flex;
flex-wrap: wrap;
 justify-content: space-evenly;/* place of the content*/
align-content:space-evenly;


}



.registration_header {
  background: rgb(156, 105, 42);
  width:100%;
  display:flex;
  flex-wrap: wrap;
   justify-content:flex-start ;/* place of the content*/
   flex-shrink: 0;
   
}
.registration_header h1{
margin: 1%;
  
}

.kid {
  
  background:burlywood;
  flex-shrink: 0;
  padding: 5px;
  margin: 5px;

}


