




.register{
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: #f7774c;
  font-family: 'Courier New', Courier, monospace;
  padding-top:10%;
  font-weight: bold;
  margin-bottom:30px ;
  margin-top:20px;
  background-image: 
  linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(209, 209, 209, 0.274)),
  url('images/registerkid.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  border-style:groove;
  
}

form{
  background: rgba(255, 255, 255, 0.605);
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
  box-shadow: 1px 1px 8px 1px rgb(219, 219, 206);
}

form .title h3{
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(218, 159, 41);
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

form .half .item{
  flex-direction: column;
  display: flex;
  margin-bottom: 24px;
  width: 48%;
}

#radiogroup {
  display:flex;
  flex-direction: row;

}

form label{
  display: block;
  font-size: 13px;
  margin-bottom: 16px;
}

form .half .item input{
  border-radius: 4px;
  border: 1px solid rgb(255, 219, 154);
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
  transition: background-color 0.3s;
}

form .action{
  margin-top: 1.5em;
  align-self: center;
}

form .action input{
  background: transparent;
  border-radius: 10px;
  border: 8px solid rgb(255, 219, 154);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}

form .action input{
  background: rgb(255, 219, 154);
  color: rgb(68, 49, 15);
  transition: box-shadow 0.3s ease-in-out;
}


form .half .item input:focus, form .action input:hover {
  
  box-shadow: 1px 1px 5px 1px rgb(219, 219, 206);
}

 form .half .item input:hover{
  background: rgba(255, 225, 182, 0.639);

  
}











