@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*to make child */
    font-family: 'Poppins', sans-serif; /*The font chosen for the whole page*/
    text-decoration: none; /*lines under links disappear*/
}

body{
    background-color: rgb(255, 239, 194); /*the background color of the page*/
}

header{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  padding: 10px 100px;
  background-color: #f2f2f2;
  width: 100%;
  position: fixed;
  color: rgb(43, 43, 43);

}

.navbar ul {
  font-weight: 900;
  font-size: 1.3em;
  list-style: none;
  padding-left: 300px;
  display: flex;
  /* justify-content: space-between; Align the navbar links to the right */
}

.navbar a:hover{
  color: rgb(255, 182, 72);
}

.navbar a{
  color: rgb(43, 43, 43);
  padding-left: 50px;
}

main{
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  background-image: url(images/visionImage.webp);
  background-size: cover;
}

/* 
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* might change
  background-color: #f2f2f2;
}

.logo img {
  width: 250px; 
  height: auto;  Automatically adjust the height while maintaining the aspect ratio 
}

.navbar {
  width: 60vw;
  padding: 20px;
}

.navbar ul {
  font-weight: 900;
  font-size: 1.3em;
  list-style: none;
  display: flex;
  justify-content: space-between; /* Align the navbar links to the right 
}


.navbar a {
  text-decoration: none;
  color: #333;
}


/*MAIN CSS
.Vision{
  width: 100%;
}

.imageContainer{
  position: relative;
  object-fit: cover;
}

.imageContainer img{
  width: 100%;
  height: auto;
}


.visionText{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.749);
  color: #000000;
}

.visionText h3{
  font-size: 350%;
  color: rgb(223, 124, 4);
}

.visionText p{
  font-size: 150%;
  margin: 0 20px 20px 20px;
  text-align: center;
} */