@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /*The font chosen for the whole page*/
    text-decoration: none; /*lines under links disappear*/
}

body{
    background-color: rgb(255, 239, 194); /*the background color of the page*/
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* might change*/
  background-color: #f2f2f2;
}

.logo img {
  width: 250px; 
  height: auto; /* Automatically adjust the height while maintaining the aspect ratio */
}

.navbar {
  width: 60vw;
  padding: 20px;
}

.navbar ul {
  font-weight: 900;
  font-size: 1.3em;
  list-style: none;
  display: flex;
  justify-content: space-between; /* Align the navbar links to the right */
}


.navbar a {
  text-decoration: none;
  color: #333;
}


/*MAIN CSS*/
.Vision{
  width: 100%;
}

.imageContainer{
  position: relative;
  object-fit: cover;
}

.imageContainer img{
  width: 100%;
  height: auto;
}


.visionText{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.749);
  color: #000000;
}

.visionText h3{
  font-size: 350%;
  color: rgb(223, 124, 4);
}

.visionText p{
  font-size: 150%;
  margin: 0 20px 20px 20px;
  text-align: center;
}
  
.Tutors{
    text-align: center;
    font-size: 2em;
    color: #f77b52;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}





/* Style the list */
ul.breadcrumb {
    padding: 30px 30px;
    list-style: none;
    /*background-color: #eee;*/
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }

  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  


/* tutor image*/

.Tutors{
  width: 100%;
}

.imageContainer{
  position: relative;
  object-fit:contain;
}

.imageContainer img{
  width: 100%;
  height: 30%;
}


.tutorText{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.749);
  color: #000000;
}

.tutorText h3{
  font-size: 350%;
  color: rgb(223, 124, 4);
}

.tutorText p{
  font-size: 150%;
  margin: 0 20px 20px 20px;
  text-align: center;
}





















  

.toturcontainer{
max-height: 120px;
border: 1px solid grey;

display: flex ;
overflow-x: auto
;

}


.toturcontainer::-webkit-scrollbar{

width: 0;

   
}


.toturcontainer .toturInfo{
min-width: 110px;

  border: 1px solid grey;
   text-align: center;
   margin-right: 7px ;
    
}